@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: $font-primary;
}
