ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 12px 33px;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.0125em;
  white-space: nowrap;
}

.btn--primary {
  color: $white;
  background-color: $primary-blue-800;
  text-transform: uppercase;
  border-radius: 8px;
}
