ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 12px 33px;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.0125em;
  white-space: nowrap;
}
