//COLORS
$secondary-color-800: #5f5f5f;
$primary-blue-900: #0a264d;
$primary-blue-800: #0d3266;

$primary-color-900: #234466;
$white: #ffffff;
$black: #000000;

$grey: #d9d9d9;

$footer-bg: rgba(35, 68, 102, 0.5);

//Fonts
$font-primary: "Roboto", sans-serif;
