@import "base";
@import "typography";
@import "variables";
@import "./sharedSass/main.scss";

// @import "./landingPage/main.scss";
// @import "./pricing/main.scss";
// @import "./aboutUs/main.scss";
// @import "./getStarted/main.scss";
// @import "./signIn/main.scss";
// @import "./forgetPassword/main.scss";
