@import "../variables";
@import "../typography";

.header {
  background-color: $primary-blue-600;
  position: relative;
  color: $white;
  margin-bottom: 48px;

  .dots1 {
    position: absolute;
    top: -2.5rem;
    left: 0;
  }

  .dots2 {
    z-index: 5;
    position: absolute;
    bottom: 10rem;
    right: 3rem;
  }

  .large-svg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: #1550a1;
    max-width: 80%;
    max-height: 90%;
  }

  &__content {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    max-width: 1728px;
    gap: 40px;
    margin: 0 auto;
    padding: 10rem 4rem;

    @media only screen and (max-width: 800px) {
      padding: 10rem 1.5rem;
    }
  }

  &__text-container {
    width: 60%;
    position: relative;

    .center-svg {
      position: absolute;
      top: -72px;
      right: 49px;
    }

    h1 {
      font-weight: 700;
      font-size: 64px;
      line-height: 77px;
      max-width: 681px;
    }

    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      max-width: 668px;
      margin: 56px 0;
    }

    a {
      padding: 8px 16px;
      background-color: $white;
      border-radius: 6px;
      border: 1px solid #5f5f5f;
      color: #0a264d;
      font-weight: 600;
      font-style: 20px;
      line-height: 24px;
      letter-spacing: 0.0125em;
    }

    @media only screen and (max-width: 800px) {
      width: 100%;

      &__content {
        padding: 10rem 1rem;
      }
    }

    @media only screen and (max-width: 480px) {
      h1 span {
        word-break: break-all;
        hyphens: auto;
      }
    }
  }

  &__image-container {
    position: relative;
    width: 40%;
    position: relative;

    .hero {
      width: 100%;
      height: auto;
      z-index: 100;
      position: relative;
    }

    .tv-holder {
      position: absolute;
      z-index: 1000;
      width: 32%;
      left: 36.5%;
      top: 3rem;

      .tv {
        height: 100%;
        width: 100%;
      }

      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
    }

    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
}

.features {
  max-width: 1728px;
  margin: 0 auto;

  &__header {
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: $primary-blue-600;
    margin-bottom: 89px;
  }

  &__type {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 150px;

    &--img {
      width: 40%;
      position: relative;

      .dots {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .main-img {
        width: 100%;
        z-index: 10;
        position: relative;
        top: 1.25rem;
        left: 1.5rem;
      }

      .circle {
        position: absolute;
        bottom: -65px;
        right: -60px;
      }
    }

    &--text {
      width: 60%;
    }

    &--header {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 1rem;
      text-align: center;
      color: $primary-blue-600;
    }

    &--subtext {
      font-weight: 500;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 0.05em;
      color: $primary-blue-700;
    }

    @media only screen and (max-width: 900px) {
      flex-direction: column;
      align-items: stretch;

      &--img {
        align-self: flex-start;
        width: 70%;
      }

      &--text {
        align-self: flex-end;
        width: 100%;
      }
    }
  }

  &__type:nth-of-type(2),
  &__type:nth-of-type(4) {
    .features__type--img {
      width: 40%;
      position: relative;
      .dots {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        z-index: 1;
      }

      .main-img {
        width: 100%;
        z-index: 10;
        position: relative;
        top: 1.55rem;
        left: auto;
        right: 1.5rem;
      }

      .circle {
        position: absolute;
        bottom: -58px;
        left: -59px;
      }
    }

    @media only screen and (max-width: 900px) {
      flex-direction: column-reverse;

      .features__type--img {
        align-self: flex-end;
        width: 70%;
      }

      .features__type--text {
        align-self: flex-start;
        width: 100%;
      }
    }
  }
}

.extra {
  position: relative;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .content {
    max-width: 1728px;
    display: flex;
    justify-content: center;
    gap: 75px;
    align-items: center;
    z-index: 100;
    position: relative;
    margin: 0 auto;
    padding: 30px 2rem 74px;

    img {
      width: 50%;
      flex-shrink: 0;
    }

    h1 {
      font-weight: 700;
      font-size: 64px;
      line-height: 77px;
      text-transform: uppercase;
      color: $primary-blue-600;
      text-align: center;
      width: 50%;
    }

    @media only screen and (max-width: 678px) {
      flex-direction: column-reverse;

      h1 {
        width: 100%;
      }
    }
  }

  .tall-vert,
  .short-vert,
  .horizontal {
    background-color: $primary-blue-600;
    position: absolute;
    bottom: 0;
  }

  .tall-vert {
    width: 14px;
    height: 50%;
    right: 10%;
  }

  .short-vert {
    width: 14px;
    height: 35%;
    right: calc(10% + 25px);
  }

  .horizontal {
    width: 100%;
    height: 18px;
    left: 0;
    right: 0;
  }
}

.faq-section {
  text-align: center;
  width: 80%;
  margin: 150px auto;
  max-width: 1133px;

  .faq__header {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 52px;
    color: $primary-blue-600;
  }

  .faq {
    background-color: $primary-blue-600;
    padding: 29px 58px;
    text-align: left;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    color: $primary-blue-100;
    border-radius: 8px;
  }

  .toggle-icon {
    position: absolute;
    top: 40px;
    right: 58px;
  }

  .faq-ques {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.05em;
  }

  .faq-ans {
    letter-spacing: 0.05em;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    display: none;
    margin-top: 23px;
    margin-bottom: 10px;
  }

  .faq.show .toggle-icon {
    top: 50px;
    right: 65px;
  }

  .faq.show .faq-ques {
    text-align: center;
  }

  .faq.show .faq-ans {
    display: block;
  }

  .faq-btn {
    margin-top: 28px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #103f80;
    font-family: inherit;
  }

  @media only screen and (max-width: 1080px) {
    width: 90%;

    .faq {
      width: 90%;
    }
  }

  @media only screen and (max-width: 880px) {
    .faq {
      padding: 20px 20px;
      width: 100%;
    }

    .toggle-icon {
      top: 20px;
      right: 20px;
    }

    .faq.show .toggle-icon {
      top: 30px;
      right: 20px;
    }
  }
}
