@import "../variables";
@import "../typography";
@import "../base";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 120px;
  gap: 26px;
  background-color: $white;

  &__logo {
    height: 2rem;
    width: auto;
  }

  &__links {
    flex: 1;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 40px;
    // align-self: flex-end;
  }

  &__links a {
    white-space: nowrap;
    color: $primary-blue-900;
    font-weight: 600;
    letter-spacing: 0.0015em;
    font-size: 16px;
    line-height: 10px;
    text-decoration: none;
  }

  .signIn--btn {
    color: $primary-blue-900;
    border: 1px solid $secondary-color-800;
    border-radius: 6px;
    background-color: $white;
  }
}
