ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

button {
  background-color: transparent;
  outline: none;
  border: none; }

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 12px 33px;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.0125em;
  white-space: nowrap; }

body {
  background-color: #134b99;
  position: relative;
  min-height: 100vh;
  height: 100%; }
  body .dots1 {
    position: absolute;
    top: 4rem;
    left: 0; }
  body .large-svg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    max-width: 85%;
    max-height: 80%; }
  body .dots2 {
    z-index: 5;
    position: absolute;
    bottom: 0;
    right: 3rem; }

.center-svg {
  position: absolute;
  top: 221px;
  left: 10%; }

.signIn {
  z-index: 500;
  position: relative;
  background-color: #ffffff;
  width: 80%;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.25rem 0;
  text-align: center;
  box-shadow: 0px 0px 71px 31px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  max-width: 785px; }
  .signIn__form-container {
    width: 70%; }
  .signIn .success {
    display: none;
    width: 70%; }
  .signIn__title {
    text-align: center;
    color: #134b99;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700; }
  .signIn__subtitle {
    text-align: center;
    color: #09254c;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 4px; }
  .signIn__form {
    margin-top: 2rem; }
  .signIn__input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 18px;
    text-align: left; }
    .signIn__input .error {
      color: #d71515;
      line-height: 19px;
      font-weight: 600; }
    .signIn__input .label {
      color: #09254c;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      background-color: #fff;
      width: fit-content; }
    .signIn__input input {
      font-family: inherit;
      background-color: transparent;
      border: 1px solid #134b99;
      outline: none;
      border-radius: 6px;
      padding: 1rem; }
    .signIn__input input:focus {
      color: currentColor; }
    .signIn__input input:focus .label {
      transform: translateY(100%);
      margin-left: 10px; }
    .signIn__input input::placeholder {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.005em; }
  .signIn__checkbox {
    text-align: left; }
    .signIn__checkbox input {
      width: 20px;
      height: 20px; }
    .signIn__checkbox label {
      line-height: 19px;
      font-weight: 600;
      color: #09254c;
      vertical-align: top; }
  .signIn__forgotP--text {
    text-align: left;
    color: #959494;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.001em;
    font-size: 12px;
    margin-top: 14px; }
    .signIn__forgotP--text a {
      color: #134b99; }
  .signIn__button {
    font-family: inherit;
    text-align: center;
    color: #ffffff;
    background-color: #134b99;
    padding: 12px 26px;
    border-radius: 8px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.0125em;
    margin: 33px auto 8px; }
  .signIn__footer-text {
    letter-spacing: 0.001em;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    color: #09254c; }
    .signIn__footer-text a {
      color: #134b99; }

.signIn__footer {
  z-index: 500;
  position: relative;
  display: flex;
  margin-left: 70px;
  padding-bottom: 42px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 15rem; }
  .signIn__footer .logo-box {
    text-align: center; }
  .signIn__footer .logo {
    margin-bottom: 7px; }
  .signIn__footer .text {
    color: #ffffff;
    font-weight: 600;
    line-height: 19.2px; }
  .signIn__footer .links {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 62px;
    justify-content: start; }
